@import "../../global.scss";

.story {
    .our-products-back {
        background-color: $secondary-color;
        padding-bottom: 2rem;
        .collection-link {
            text-decoration: none;
            font-family: $font-urbanist;
            font-weight: $font-weight-normal;
            font-size: $font-size-small;
            color: black;
            width: 100%;
            display: block;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            &:hover {
                text-decoration: underline;
            }
        }
        .bottom-line {
            background-color: black;
            height: 1px;
            width: 100%;
            margin-top: 10px;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .story {
        .margin-global-top-3 {
            margin-top: 0;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .story {
        .our-products-back {
            padding: $padding-image-small;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}
