@import '../../global.scss';

.story-info {
    font-family: $font-urbanist;
    img {
        width: 100%;
        height: $image-height-xl;
        object-fit: cover;
        filter: grayscale(100%);
    }
    p {
        margin-bottom: 0;
    }
    .padding-left {
        padding-left: 1.5rem;
    }
    .padding-right {
        padding-right: 1.5rem;
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .story-info {
        img {
            height: $image-height-large;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .story-info {
        img {
            height: $image-height-xl;
        }
        .description-text {
            text-align: center;
        }
        .padding-left, .padding-right {
            padding: 0;
        }
        .padding-left {
            margin-bottom: 3rem;
        }
        .padding-right {
            margin-bottom: 3rem;
        }
        // .image-margin-top {
        //     // margin-bottom: 3rem;
        // }
        .margin-global-top-3 {
            margin-top: 0;
        }
        .order-change-2 {
            order: 2;
        }
        .order-change-2 {
            order: 1;
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .story-info {
        padding: $padding-image-small;
    }
}