@import '../../global.scss';

.link-button {
    font-family: $font-urbanist;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    line-height: $line-height-base;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 0px;
    padding: 0rem 1.5rem;
    text-decoration: none;
    transition: .3s ease-in-out;
    width: fit-content;
    &:hover {
        background-color: transparent;
        color: black;
    }
    &:focus, &:active {
        box-shadow: none;
    }
}