@import "../../global.scss";

.product-box {
    padding: 0 2rem;
    .product-box__description {
        h4 {
            font-size: $font-size-xl;
            font-family: $font-retro;
            font-weight: $font-weight-regular;
        }
        p {
            font-size: $font-size-medium;
            font-family: $font-urbanist;
            font-weight: $font-weight-regular;
        }
        .product-box__price-cut {
            text-decoration: line-through;
        }
        .product-box__discount {
            color: rgb(160, 0, 0);
        }
    }
    .product-box-link {
        position: relative;
        .product-box__image {
            position: relative;
            .ribbon {
                position: absolute;
                right: -5px;
                top: -5px;
                z-index: 1;
                overflow: hidden;
                width: 100px;
                height: 100px;
                text-align: right;
                span {
                    font-size: 9px;
                    font-family: $font-urbanist;
                    font-weight: bold;
                    color: black;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 20px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    width: 125px;
                    display: block;
                    background: #79a70a;
                    background: linear-gradient(#f4ebe4 0%, #f2f2f1 100%);
                    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
                    position: absolute;
                    top: 28px;
                    right: -25px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 100%;
                        z-index: -1;
                        border-left: 3px solid #f2f2f1;
                        border-right: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        border-top: 3px solid #f2f2f1;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0px;
                        top: 100%;
                        z-index: -1;
                        border-left: 3px solid transparent;
                        border-right: 3px solid #f2f2f1;
                        border-bottom: 3px solid transparent;
                        border-top: 3px solid #f2f2f1;
                    }
                }
            }
            .product-box__category {
                position: absolute;
                z-index: 1;
                width: 100%;
                color: #000;
                font-size: $font-size-large;
                font-family: $font-urbanist;
                text-align: center;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                padding: 0 0.5rem;
                h3 {
                    font-weight: $font-weight-regular;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }
            }
            img {
                width: 100%;
                height: $image-height-xl;
                object-fit: cover;
                filter: grayscale(0%);
                opacity: 1;
                // transition: opacity 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }
        &:hover {
            img {
                filter: grayscale(100%) blur(2px);
                opacity: 0.7;
            }
            .product-box__category {
                h3 {
                    opacity: 1;
                }
            }
        }
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .product-box {
        padding: 0 1rem;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .product-box {
        padding: 0;
        .product-box-link {
            .product-box__image {
                img {
                    height: $image-height-large;
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .product-box {
        .product-box-link {
            .product-box__image {
                img {
                    height: $image-height-xl;
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}
