@import "../../../../global.scss";

.product-card {
    padding-top: 7rem;
    padding-bottom: 7rem;
    font-family: $font-urbanist;
    .row {
        position: relative;
        .slider1 {
            position: relative;
            height: $image-height-xl;
        }
        img {
            width: 100%;
            position: absolute;
            height: $image-height-xl;
            object-fit: cover;
            padding-right: inherit;
            // animation-name: multiple-image-crossfade;
            // animation-timing-function: ease-in-out;
            // animation-iteration-count: infinite;
            // animation-duration: 8s;
            &:nth-child(1) {
                animation: xfade 15s 10s infinite;
            }
            &:nth-child(2) {
                animation:xfade 15s 5s infinite;
            }
            &:nth-child(3) {
                animation: xfade 15s 0s infinite;
            }
        }
    }
    // img {
    //     width: 100%;
    //     height: $image-height-xl;
    //     object-fit: cover;
    //     // filter: grayscale(100%);
    // }
    .product-details {
        padding-left: 2rem;
        .location {
            margin-bottom: 2rem;
            .icon {
                font-size: $font-size-xl;
            }
        }
    }
    // h1 {
    //     font-family: $font-retro;
    //     font-size: $font-size-xxxxxxl;
    // }
    h2 {
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
    }
    .product-price {
        font-size: $font-size-xl;
        font-weight: $font-weight-normal;
    }
    .product-description {
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        line-height: 1.2;
    }
    .product-button {
        margin-top: 2rem;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        padding: 0.5rem 2rem;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        text-transform: uppercase;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: transparent;
        }
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .product-card {
        img {
            height: $image-height-large;
        }
        .product-button {
            margin-top: 0;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .product-card {
        img {
            height: $image-height-xl;
        }
        .product-button {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .product-details {
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .product-card {
        padding: $padding-image-small;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
