@import '../../global.scss';

.description-text {
    font-family: $font-urbanist;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    text-align: left;
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .description-text {
        font-size: $font-size-small;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}