.shopping-cart {
    .cart-form {
        padding-bottom: 1rem;
    }
    .text-cut {
        text-decoration: line-through;
    }
    
    .text-red {
        color: rgb(160, 0, 0);
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .shopping-cart {
        .cart-form {
            .col-md-3 {
                padding: 0 2rem;
            }
        }
    }
}